@charset "UTF-8";

* {
  background-color: black;
}

/* header */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
}
.logo {
  width: 20%;
}
.logo > a {
  display: flex;
  text-decoration: none;
  margin: 10px 10px;
}
.logo > a:hover {
  opacity: 0.6;
}
.logo > a > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
.logo > a > .logotext {
  color: rgb(223, 67, 61);
  align-self: center;
  font-size: 14px;
}
.logo > a > .logotext > span {
  display: block; /*spanをブロック要素にしてstrongを折り返す*/
}
.main_nav {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60%;
}
.main_nav > li {
  margin-right: 30px;
}
.main_nav > li:last-child {
  margin-right: 0;
}
.main_nav > li > a {
  color: rgb(223, 67, 61);
  font-size: 17px;
  text-decoration: none;
}
.main_nav > li > a:hover {
  opacity: 0.6;
}
.sub_nav {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 20%;
}
.sub_nav > li {
  margin-right: 8px;
}
.sub_nav > li:last-child {
  margin-right: 10px;
}
.sub_nav > li > a > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.shake:hover {
  display: inline-block;
  animation: hurueru 0.3s infinite;
}
@keyframes hurueru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(8px, 8px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 8px) rotateZ(0deg);
  }
  75% {
    transform: translate(8px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

/* ここからpartner */
.partner {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
}
.partner > .partner1 > li > a > img {
  transition: all 0.6s ease 0s;
}
.partner > .partner1 > li > a > img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.partner > .partner2 > li > a > img {
  transition: all 0.6s ease 0s;
}
.partner > .partner2 > li > a > img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.partner1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.partner2 {
  display: flex;
  justify-content: space-around;
}

/* footer */
footer {
  width: 100%;
  height: auto;
  position: absolute;
}
.footer_nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer_nav > li {
  margin-right: 10px;
}
.footer_nav > li:last-child {
  margin-right: 0;
}
.footer_nav > li > a > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
footer > p {
  color: rgb(223, 67, 61);
  margin-bottom: 10px;
  text-align: center;
}

/* pageTop */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
#pageTop > a {
  display: block;
  z-index: 999;
  text-decoration: none;
  text-align: center;
}
#pageTop > a > img {
  height: 50px;
  line-height: 70px;
  border-radius: 50%;
}
#pageTop > a > span {
  position: absolute;
  color: white;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}
#pageTop a:hover {
  text-decoration: none;
  animation: roll 0.7s linear infinite;
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* indexhtml */
.toppage .nav-top a {
  color: white;
}

/* ここからmainvisual */
.mainvisual {
  position: relative;
  height: 100vh;
}
.mainvisual > img {
  height: 100vh;
  width: 100%;
}
.mainvisual > h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: rgb(223, 67, 61);
  font-size: 100px;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
}

/* ここからswiper */
.swiper-container {
  width: 100%;
  height: 500px;
  margin-top: 150px;
}
.swiper-slide {
  width: 95%;
  height: 100%;
  position: relative;
}
.swiper-slide a img {
  width: 95%;
  height: 100%;
}

/* 体験 */
.swiper-slide1 a .swiper-mask1 div {
  width: 100%;
  position: absolute;
  font-size: 300%;
  color: white;
  background: rgba(223, 67, 61, 0.9);
  text-align: center;
  top: 0;
  left: 0;
}
.swiper-slide1 a .swiper-mask1 {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide1:hover .swiper-mask1 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 自販機 */
.swiper-slide2 a .swiper-mask2 div {
  width: 100%;
  position: absolute;
  font-size: 300%;
  color: rgb(223, 67, 61);
  text-align: center;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.swiper-slide2 .swiper-mask2 {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide2:hover .swiper-mask2 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 選手募集 */
.swiper-slide3 a .swiper-mask3 div {
  width: 100%;
  position: absolute;
  font-size: 300%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  bottom: 0;
  letter-spacing: 10px;
}
.swiper-slide3 .swiper-mask3 {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide3:hover .swiper-mask3 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* ここからmatches */
.matches {
  background-color: black;
  color: rgb(223, 67, 61);
  height: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
.matches > h3 {
  font-size: 100px;
  margin-bottom: 100px;
}
.Wmatches {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.latest,
.next {
  border: 3px solid rgb(223, 67, 61);
  border-radius: 10px;
  width: 30%;
  height: 100%;
}
.latest p,
.next p {
  font-size: 35px;
  background: rgb(223, 67, 61);
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 100%;
}
.latestlist,
.nextlist {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.latestmain,
.nextmain {
  width: 100%;
}
.latestmain > table,
.nextmain > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.latestmain > table th,
.latestmain > table td,
.nextmain > table th,
.nextmain > table td {
  width: 30%;
  padding: 10px 0;
  text-align: center;
}
.latestmain > table th,
.nextmain > table th {
  font-size: 40px;
}
.latestmain > table td,
.nextmain > table td {
  font-size: 17px;
}
.latestmain tr .nextmain tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Wmatches a {
  color: rgb(223, 67, 61);
}
.Wmatches a:hover {
  opacity: 0.7;
}

/* ここからranking*/
.ranking {
  margin-top: 250px;
  position: relative;
  z-index: 0;
  background-color: rgb(223, 67, 61);
}
.ranking:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  /*四角形を傾ける*/
  transform: skewY(-5deg);
  transform-origin: bottom left;

  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(223, 67, 61);
}
.rank-center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ranking h3 {
  font-size: 100px;
}
.rank-contents {
  display: flex;
  align-items: center;
}
.ranking .number {
  font-size: 200px;
  font-weight: bolder;
}
.ranking .place {
  font-size: 50px;
  font-weight: bolder;
}
.standings {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.standings a {
  color: #000;
}
.standings a:hover {
  opacity: 0.6;
}

/* ここからnews */
.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}
.info > .news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > .sns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > .news > h3 {
  font-size: 100px;
  color: rgb(223, 67, 61);
  margin-bottom: 100px;
}
.info > .sns > h3 {
  font-size: 100px;
  color: rgb(223, 67, 61);
  margin-bottom: 100px;
}
.ns-contents {
  display: flex;
  flex-direction: column;
}
.ns-contents > li {
  width: 100%;
  height: 150px;
  border: 3px solid rgb(223, 67, 61);
  border-radius: 10px;
  margin-bottom: 10px;
}
.ns-contents > li > a {
  display: flex;
  text-decoration: none;
}
.ns-contents > li > a > img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}
.ns-contents > li > a > div > p {
  color: rgb(223, 67, 61);
  padding: 10px;
}
.info > .news > .ns-more {
  text-align: center;
}
.info > .news > .ns-more > a {
  color: rgb(223, 67, 61);
  text-decoration: none;
}
.sns .inst-mv {
  margin-top: 50px;
}
.sns .inst-mv .instagram-media {
  height: 480px;
}

/* NEWShtml */
.newspage .nav-news a {
  color: white;
}
.newshtml {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  color: rgb(223, 67, 61);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .newswrap {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml h3 {
  padding-bottom: 100px;
  font-size: 100px;
}
.newshtml .news-contents {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .news-contents li {
  width: 100%;
  border-bottom: 2px solid rgb(223, 67, 61);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.newshtml .news-contents li a {
  color: rgb(223, 67, 61);
  display: flex;
  text-decoration: none;
}
.newshtml .news-contents li a img {
  width: 280px;
  height: 200px;
  margin: 0 30px;
  border-radius: 10px;
}
.newshtml .news-contents li a .caption {
  padding: 20px;
}
.schedulewrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 100px;
}
.schedulewrap table {
  width: 60%;
  border-collapse: collapse;
  border: 2px solid white;
  color: white;
  text-align: center;
}
.yearmonth th {
  font-size: 30px;
  padding: 15px;
}
.daysofweek th {
  font-size: 20px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}
.schedulewrap table tr td {
  width: 13%;
  padding: 10px 0 50px 0;
  border: 1px solid white;
}
.schedulewrap table tr .nonpadding {
  padding-bottom: 0;
}
.trainingclolor {
  background-color: rgb(223, 67, 61);
}
.schedulewrap div {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.schedulewrap div a {
  color: rgb(223, 67, 61);
  text-decoration: none;
}
.schedulewrap div a:hover {
  opacity: 0.7;
}

/* MATCHEShtml */
.matchespage .nav-matches a {
  color: white;
}
.matcheranking {
  width: 100%;
  height: 100%;
  color: rgb(223, 67, 61);
}
.allmatches2020,
.all-standings {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.matcheranking h3 {
  padding: 150px 0 100px 0;
  font-size: 100px;
}
.allmatches2020 > table {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 0;
}
.allmatches2020 > table th,
.allmatches2020 > table td {
  padding: 10px 0;
  text-align: center;
}
.allmatches2020 > table tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.15);
}
.all-standings > table {
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
}
.all-standings > table th,
.all-standings > table td {
  padding: 10px 0;
  text-align: center;
}
.all-standings > table th {
  font-size: 20px;
}
.all-standings > table td {
  font-size: 17px;
}
.all-standings > table tr:first-child {
  background-color: rgba(223, 67, 61, 0.3);
}

/* TEAMhtml */
.teampage .nav-team a {
  color: white;
}
.player_fix {
  background: url(./img/team.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 2800px;
  background-attachment: fixed;
}
.player_wrap {
  position: absolute;
}
.player_wrap h3 {
  width: 100%;
  font-size: 100px;
  color: rgb(223, 67, 61);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 150px auto;
}
.player1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.person {
  background-color: white;
  margin: 20px 0;
}
.player1 li img {
  width: 280px;
  height: 300px;
}
.profile {
  text-align: center;
  color: rgb(223, 67, 61);
  font-weight: bolder;
}
.wanted {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: white;
  color: rgb(223, 67, 61);
  font-weight: bolder;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 100px;
}
.wanted h4 {
  font-size: 50px;
}
.wanted p {
  font-size: 25px;
  line-height: 1.5em;
}
.wanted .wanted-p-first {
  margin-top: 15px;
}
.wanted .wanted-p-last {
  margin-bottom: 15px;
}
.wanted a {
  margin-top: 10px;
  color: rgb(223, 67, 61);
  text-decoration: none;
  transition: all 0.6s ease 0s;
}
.wanted .wantedmap {
  margin-bottom: 10px;
}
.wanted a:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* CLUBhtml */
.clubpage .nav-club a {
  color: white;
}
.club-fx {
  background: url(./img/club-flag.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 3500px;
  background-attachment: fixed;
}
.club-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 3500px;
}
.club-bg h3 {
  width: 100%;
  font-size: 80px;
  color: rgb(223, 67, 61);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 150px auto 100px auto;
}
.club-erythrina-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club-erythrina img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.club-erythrina p {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  text-align: justify;
}
.emblem-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emblem img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.emblem-text p {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  text-align: justify;
}
.club-history-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club-history-text tr {
  height: 35px;
}
.history-year {
  padding-right: 80px;
}
.club-history table {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.about-beachsocor-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-beachsocor p {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  text-align: justify;
}

/* PARTNERhtml */
.partnerpage .nav-partner a {
  color: white;
}
.partner_wrap {
  color: rgb(223, 67, 61);
  width: 100%;
  height: 100%;
  padding-top: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.partner_wrap > h3 {
  font-size: 100px;
  margin-bottom: 100px;
}
.partner_wrap > .partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.partner_wrap > .partners > .partner-list {
  width: 600px;
  height: 500px;
  margin-bottom: 80px;
  border-bottom: 3px solid;
}
.partner_wrap > .partners > .partner-list a {
  text-decoration: none;
  color: rgb(223, 67, 61);
  font-size: 1.5em;
}
.partner_wrap > .partners > .partner-list a:hover {
  opacity: 0.7;
}
.partner_wrap > .partners > .partner-list .partnerfile {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-around;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.partner_wrap > .partners > .partner-list .partnerfile a {
  margin: 8px auto;
  text-align: center;
}
.partner_wrap > .partners > .partner-list .partnerfile p {
  width: 85%;
  text-align: justify;
  margin-top: 8px;
}
.partner_wrap > .partners > .partner-list .partnerfile div {
  text-align: center;
}
.withpartner {
  margin-top: 100px;
  padding: 15px;
  width: 700px;
  border: 10px solid;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.withpartner h4 {
  font-size: 25px;
}
.withpartner p {
  margin: 10px auto;
  width: 85%;
}
.withpartner a {
  color: rgb(223, 67, 61);
  text-decoration: none;
  transition: all 0.6s ease 0s;
}
.withpartner a:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* ACCESShtml */
.accesspage .nav-access a {
  color: white;
}
.contactus {
  color: rgb(223, 67, 61);
  width: 100%;
  height: 100%;
  padding-top: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.practiceplace {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 40px;
}
.practiceplace > h3 {
  font-size: 100px;
  margin-bottom: 100px;
}
.practiceplace > h4 {
  font-size: 40px;
  margin-bottom: 100px;
}
.practiceplace p {
  width: 80%;
  text-align: justify;
  margin-bottom: 40px;
}
.contactus a {
  text-decoration: none;
  color: rgb(223, 67, 61);
  margin-bottom: 10px;
}
.practiceplace a:hover {
  opacity: 0.7;
}
.practiceplace iframe {
  margin: 40px auto;
}
.coution {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.coution p a strong {
  font-size: 20px;
}

/* MAKINGhtml */
.making-bg img {
  width: 100%;
  height: 100vh;
}
.making-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.making-text {
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  position: absolute;
}
.making-text p {
  font-size: 100px;
  font-weight: bolder;
  color: rgb(223, 67, 61);
}
.making-text div a {
  color: rgb(223, 67, 61);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.making-text div a:hover {
  opacity: 0.6;
}
