@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
  background-color: black;
}
h2, h3, h4{
  font-family: 'Graduate', cursive;
  font-weight: bolder;
}

/* responsive PC*/
@media screen and (min-width: 480px) { /* ウィンドウ幅が480px以上(=PC用)の場合に適用 tablet作るなら767に変更する */
.sp {
  display: none;
}
/* 共通header */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
}
.logo {
  width: 20%;
}
.logo > a {
  display: flex;
  text-decoration: none;
  margin: 10px 10px;
}
.logo > a:hover {
  opacity: 0.6;
}
.logo > a > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
.logo > a > .logotext {
  color: rgb(223, 67, 61);
  align-self: center;
  font-size: 14px;
}
.logo > a > .logotext > span {
  display: block; /*spanをブロック要素にしてstrongを折り返す*/
}
.main_nav {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60%;
}
.main_nav > li {
  margin-right: 30px;
}
.main_nav > li:last-child {
  margin-right: 0;
}
.main_nav > li > a {
  color: rgb(223, 67, 61);
  font-size: 17px;
  text-decoration: none;
}
.main_nav > li > a:hover {
  opacity: 0.6;
}
.sub_nav {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 20%;
}
.sub_nav > li {
  margin-right: 8px;
}
.sub_nav > li:last-child {
  margin-right: 10px;
}
.sub_nav > li > a > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.shake:hover {
  display: inline-block;
  animation: hurueru 0.3s infinite;
}
@keyframes hurueru {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(8px, 8px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 8px) rotateZ(0deg);
  }
  75% {
    transform: translate(8px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

/* 共通partner */
.partner {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
}
.partner > .partner1 > li > a > img {
  transition: all 0.6s ease 0s;
  width: 280px;
  height: 70px;
}
.partner > .partner1 > li > a > img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.partner > .partner2 > li > a > img {
  transition: all 0.6s ease 0s;
  width: 280px;
  height: 70px;
}
.partner > .partner2 > li > a > img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.partner1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.partner2 {
  display: flex;
  justify-content: space-around;
}

/* 共通footer */
footer {
  width: 100%;
  height: auto;
  position: absolute;
}
.footer_nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer_nav > li {
  margin-right: 10px;
}
.footer_nav > li:last-child {
  margin-right: 0;
}
.footer_nav > li > a > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
footer > p {
  color: rgb(223, 67, 61);
  margin-bottom: 10px;
  text-align: center;
}

/* 共通pageTop */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
#pageTop > a {
  display: block;
  z-index: 999;
  text-decoration: none;
  text-align: center;
}
#pageTop > a > img {
  height: 50px;
  line-height: 70px;
  border-radius: 50%;
}
#pageTop > a > span {
  position: absolute;
  color: white;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}
#pageTop a:hover {
  text-decoration: none;
  animation: roll 0.7s linear infinite;
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PC > indexhtml */
.toppage .nav-top a {
  color: white;
}

/* PC > indexhtml > mainvisual */
.mainvisual {
  position: relative;
  height: 100vh;
}
.mainvisual > img {
  height: 100vh;
  width: 100%;
  /* width:100%; */
  /* max-width: 100%; */
  /* height: auto; */
}
.mainvisual > h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: rgb(223, 67, 61);
  font-size: 100px;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
}

/* PC > indexhtml > swiper */
.swiper-container {
  width: 100%;
  height: 500px;
  margin-top: 150px;
}
.swiper-slide {
  width: 95%;
  height: 100%;
  position: relative;
}
.swiper-slide a img {
  width: 95%;
  height: 100%;
}

/* 体験 */
.swiper-slide1 a .swiper-mask1 div {
  width: 100%;
  position: absolute;
  font-size: 300%;
  color: white;
  background: rgba(223, 67, 61, 0.9);
  text-align: center;
  top: 0;
  left: 0;
}
.swiper-slide1 a .swiper-mask1 {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide1:hover .swiper-mask1 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 自販機 */
.swiper-slide2 a .swiper-mask2 div {
  width: 100%;
  position: absolute;
  font-size: 300%;
  color: rgb(223, 67, 61);
  text-align: center;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.swiper-slide2 .swiper-mask2 {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide2:hover .swiper-mask2 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 選手募集 */
.swiper-slide3 a .swiper-mask3 div {
  width: 100%;
  position: absolute;
  font-size: 300%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  bottom: 0;
  letter-spacing: 10px;
}
.swiper-slide3 .swiper-mask3 {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide3:hover .swiper-mask3 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* PC > indexhtml > matches */
.matches {
  background-color: black;
  color: rgb(223, 67, 61);
  height: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
.matches > h3 {
  font-size: 100px;
  margin-bottom: 100px;
}
.Wmatches {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}
.latest,
.next {
  border: 3px solid rgb(223, 67, 61);
  border-radius: 10px;
  width: 30%;
  height: 100%;
}
.latest p,
.next p {
  font-size: 35px;
  background: rgb(223, 67, 61);
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 100%;
}
.latestlist,
.nextlist {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.latestmain,
.nextmain {
  width: 100%;
}
.latestmain > table,
.nextmain > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.latestmain > table th,
.latestmain > table td,
.nextmain > table th,
.nextmain > table td {
  width: 30%;
  padding: 10px 0;
  text-align: center;
}
.latestmain > table th,
.nextmain > table th {
  font-size: 40px;
}
.latestmain > table td,
.nextmain > table td {
  font-size: 17px;
}
.latestmain tr .nextmain tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Wmatches a {
  color: rgb(223, 67, 61);
}
.Wmatches a:hover {
  opacity: 0.7;
}

/* PC > indexhtml > ranking*/
.ranking {
  margin-top: 250px;
  position: relative;
  z-index: 0;
  background-color: rgb(223, 67, 61);
}
.ranking:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  /*四角形を傾ける*/
  transform: skewY(-5deg);
  transform-origin: bottom left;

  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(223, 67, 61);
}
.rank-center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ranking h3 {
  font-size: 100px;
}
.rank-contents {
  display: flex;
  align-items: center;
}
.ranking .number {
  font-size: 200px;
  font-weight: bolder;
}
.ranking .place {
  font-size: 50px;
  font-weight: bolder;
}
.standings {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.standings a {
  color: #000;
}
.standings a:hover {
  opacity: 0.6;
}

/* PC > indexhtml > info */
.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}
.info > .news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > .sns {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info > .news > h3 {
  font-size: 100px;
  color: rgb(223, 67, 61);
  margin-bottom: 100px;
}
.info > .sns > h3 {
  font-size: 100px;
  color: rgb(223, 67, 61);
  margin-bottom: 100px;
}
.ns-contents {
  display: flex;
  flex-direction: column;
}
.ns-contents > li {
  width: 100%;
  height: 150px;
  border: 3px solid rgb(223, 67, 61);
  border-radius: 10px;
  margin-bottom: 10px;
}
.ns-contents > li > a {
  display: flex;
  text-decoration: none;
}
.ns-contents > li > a > img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}
.ns-contents > li > a > div > p {
  color: rgb(223, 67, 61);
  padding: 10px;
}
.info > .news > .ns-more {
  text-align: center;
}
.info > .news > .ns-more > a {
  color: rgb(223, 67, 61);
  text-decoration: none;
}
.sns .inst-mv {
  margin-top: 50px;
}
.sns .inst-mv .instagram-media {
  height: 480px;
}

/* PC > newshtml */
.newspage .nav-news a {
  color: white;
}
.newshtml {
  width: 100%;
  height: 100%;
  padding-top: 150px;
  color: rgb(223, 67, 61);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .newswrap {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml h3 {
  padding-bottom: 100px;
  font-size: 100px;
}
.newshtml .news-contents {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .news-contents li {
  width: 100%;
  border-bottom: 2px solid rgb(223, 67, 61);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.newshtml .news-contents li a {
  color: rgb(223, 67, 61);
  display: flex;
  text-decoration: none;
}
.newshtml .news-contents li a img {
  width: 280px;
  height: 200px;
  margin: 0 30px;
  border-radius: 10px;
}
.newshtml .news-contents li a .caption {
  padding: 20px;
}
.schedulewrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 100px;
}
.schedulewrap table {
  width: 60%;
  border-collapse: collapse;
  border: 2px solid white;
  color: white;
  text-align: center;
}
.yearmonth th {
  font-size: 30px;
  padding: 15px;
}
.daysofweek th {
  font-size: 20px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}
.schedulewrap table tr td {
  width: 13%;
  padding: 10px 0 50px 0;
  border: 1px solid white;
}
.schedulewrap table tr .nonpadding {
  padding-bottom: 0;
}
.trainingclolor {
  background-color: rgb(223, 67, 61);
}
.schedulewrap div {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.schedulewrap div a {
  color: rgb(223, 67, 61);
  text-decoration: none;
  font-size: 22px;
  margin: 15px 0;
}
.schedulewrap div a:hover {
  opacity: 0.7;
}

/* PC > matcheshtml */
.matchespage .nav-matches a {
  color: white;
}
.matcheranking {
  width: 100%;
  height: 100%;
  color: rgb(223, 67, 61);
}
.allmatches2020,
.all-standings {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.matcheranking h3 {
  padding: 150px 0 100px 0;
  font-size: 100px;
}
.allmatches2020 > table {
  width: 70%;
  border-collapse: collapse;
  border-spacing: 0;
}
.allmatches2020 > table th,
.allmatches2020 > table td {
  padding: 10px 0;
  text-align: center;
}
.allmatches2020 > table tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.15);
}
.all-standings > table {
  width: 30%;
  border-collapse: collapse;
  border-spacing: 0;
}
.all-standings > table th,
.all-standings > table td {
  padding: 10px 0;
  text-align: center;
}
.all-standings > table th {
  font-size: 20px;
}
.all-standings > table td {
  font-size: 17px;
}
.all-standings > table tr:first-child {
  background-color: rgba(223, 67, 61, 0.3);
}

/* PC > teamhtml */
.teampage .nav-team a {
  color: white;
}
.player_fix {
  background: url(./img/team.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 4500px;
  background-attachment: fixed;
}
.player_wrap {
  position: absolute;
}
.player_wrap h3 {
  width: 100%;
  font-size: 100px;
  color: rgb(223, 67, 61);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 150px auto;
}
.player1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.person {
  background-color: white;
  margin: 50px 0;
  display: flex;
  border: 4px solid white;
}
.person .personimg {
  width: 300px;
  height: 350px;
  position: relative;
}
.player1 li img {
  width: 300px;
  height: 350px;
}
.person .personimg > div {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgb(0, 0, 0);
}
.person .personimg > div:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  /*四角形を傾ける*/
  transform: skewY(-5deg);
  transform-origin: bottom left;

  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.person .personimg > div p{
  color: rgb(223, 67, 61);
  font-weight: bolder;
}
.person .personimg > div p strong{
  font-size: 1.5em;
}
.profile {
  font-size: 15px;
  width: 180px;
  padding-top: 15px;
  text-align: center;
  color: rgb(223, 67, 61);
}
.profile p{
  margin-bottom: 3px;
}
.wanted {
  width: 60%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* text-align: center; */
  background-color: white;
  color: rgb(223, 67, 61);
  font-weight: bolder;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 100px;
  text-align: justify;
}
.wanted h4 {
  font-size: 50px;
}
.wanted p {
  width: 80%;
  font-size: 25px;
  line-height: 1.5em;
  margin: 15px 0;
}
/* .wanted .wanted-p-first {
  margin-top: 15px;
} */
/* .wanted .wanted-p-last {
  margin-bottom: 15px;
} */
.wanted a {
  margin-top: 10px;
  color: rgb(223, 67, 61);
  text-decoration: none;
  transition: all 0.6s ease 0s;
}
.wanted .wantedmap {
  margin-bottom: 10px;
}
.wanted a:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* PC clubhtml */
.clubpage .nav-club a {
  color: white;
}
.club-fx {
  background: url(./img/club-flag.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 3500px;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.club-bg {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 3500px;
}
.club-bg h3 {
  width: 100%;
  font-size: 80px;
  color: rgb(223, 67, 61);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 150px auto 100px auto;
}
.club-erythrina-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club-erythrina img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.club-erythrina p {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  text-align: justify;
}
.emblem-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emblem img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.emblem-text p {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  text-align: justify;
}
.club-history-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club-history-text tr {
  height: 35px;
}
.history-year {
  padding-right: 80px;
}
.club-history table {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.about-beachsocor-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-beachsocor p {
  width: 85%;
  margin-top: 100px;
  color: rgb(223, 67, 61);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  text-align: justify;
}

/* PC > partnerhtml */
.partnerpage .nav-partner a {
  color: white;
}
.partner_wrap {
  color: rgb(223, 67, 61);
  width: 100%;
  height: 100%;
  padding-top: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.partner_wrap > h3 {
  font-size: 100px;
  margin-bottom: 100px;
}
.partner_wrap > .partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.partner_wrap > .partners > .partner-list {
  width: 600px;
  height: 500px;
  margin-bottom: 80px;
  border-bottom: 3px solid;
}
.partner_wrap > .partners > .partner-list a {
  text-decoration: none;
  color: rgb(223, 67, 61);
  font-size: 1.5em;
}
.partner_wrap > .partners > .partner-list a:hover {
  opacity: 0.7;
}
.partner_wrap > .partners > .partner-list a img {
  width: 600px;
  height: 200px;
}
.partner_wrap > .partners > .partner-list .partnerfile {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-around;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.partner_wrap > .partners > .partner-list .partnerfile a {
  margin: 8px auto;
  text-align: center;
}
.partner_wrap > .partners > .partner-list .partnerfile p {
  width: 85%;
  text-align: justify;
  margin-top: 8px;
}
.partner_wrap > .partners > .partner-list .partnerfile div {
  text-align: center;
}
.withpartner {
  margin-top: 100px;
  padding: 15px;
  width: 700px;
  border: 10px solid;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.withpartner h4 {
  font-size: 25px;
}
.withpartner p {
  margin: 10px auto;
  width: 85%;
}
.withpartner a {
  color: rgb(223, 67, 61);
  text-decoration: none;
  transition: all 0.6s ease 0s;
}
.withpartner a:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

/* PC > beachhtml */
.accesspage .nav-access a {
  color: white;
}
.beach_fix {
  background: url(./img/tropicalbeach.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(223, 67, 61);
  width: 100%;
  height: 1500px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.practiceplace {
  width: 80%;
  min-height: 1350px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 150px;
}
.practiceplace > h3 {
  width: 100%;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 100px;
}
.practiceplace > h4 {
  width: 60%;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 100px;
}
.practiceplace .tropicalbeach {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 60px;
}
.practiceplace p {
  text-align: justify;
  margin: 20px;
}
.beach_fix a {
  text-decoration: none;
  color: rgb(223, 67, 61);
  margin-bottom: 10px;
}
.practiceplace a:hover {
  opacity: 0.7;
}
.practiceplace iframe {
  width: 600px;
  height: 450px; 
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 40px auto;
}
.coution {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: justify;
}
.coution p a strong {
  font-size: 20px;
}

/* PC > makinghtml */
.making-bg img {
  width: 100%;
  height: 100vh;
}
.making-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.making-text {
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  position: absolute;
}
.making-text p {
  font-size: 100px;
  font-weight: bolder;
  color: rgb(223, 67, 61);
}
.making-text div a {
  color: rgb(223, 67, 61);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}
.making-text div a:hover {
  opacity: 0.6;
}


/* 🍔 */
/* header > .open,
header > .close {
  display: none;
}
header > input[type="checkbox"] {
  position: absolute;
  top: -50vw;
  right: 0;
} */
/* 🍔 */
}


/* responsive tablet　必要なら作る？*/
/* @media screen and (max-width: 767px) { ウィンドウ幅が最大767pxまでの場合に適用 */

/* } */













/* responsive smartphone*/
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまで(=sp用)の場合に適用*/
.pc {
  display: none;
}
/* 仮の画像サイズ、全て整えたら消す */
img {
  width: 100%;
  height: auto;
}
/* SP > 共通header */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  z-index: 100;
}
.logo > a {
  display: flex;
  text-decoration: none;
  margin: 10px 10px;
}
.logo > a > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
.logo > a > .logotext {
  color: rgb(223, 67, 61);
  align-self: center;
  font-size: 11px;
}
.logo > a > .logotext > span {
  display: block; /*spanをブロック要素にしてstrongを折り返す*/
}
/* drawer */
.drawer-menu {
  box-sizing: border-box;


  position: fixed;
/* position: absolute; */
  
  top: 0;
  /* right: 0; */
  width: 100%;
  /* height: 100%; */
  padding: 60px 0;
  background: #222;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
}
.sp_nav li {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.sp_nav li a {
  display: block;
  height: 55px;
  line-height: 50px;
  font-size: 14px;
  color: rgb(223, 67, 61);
  text-decoration: none;
  -webkit-transition: all .8s;
  transition: all .8s;
}
.sp_sub_nav {
  display: flex;
  justify-content: space-between;
}
.sp_sub_nav img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/* checkbox */
.check {
  display: none;
}
/* menu button - label tag */
.menu-btn {
  position: relative;
  display: block;
  margin: 15px 20px 0 0;
  width: 40px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 1px;
  background: rgb(223, 67, 61);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.bar.middle {
  top: 10px;
  opacity: 1;
}
.bar.bottom {
  top: 20px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.menu-btn__text {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  color: rgb(223, 67, 61);
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}
.menu-btn:hover .bar {
  background: rgb(223, 67, 61);
}
.menu-btn:hover .menu-btn__text {
  color: rgb(223, 67, 61);
}
.close-menu {
  position: fixed;
  top: 0;
  /* right: 300px; */
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0);
  cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}
/* checked */
.check:checked ~ .drawer-menu {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 2;
}
.check:checked ~ main {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
}
.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}
.check:checked ~ .menu-btn .bar.top {
  width: 56px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}
.check:checked ~ .menu-btn .bar.bottom {
  width: 56px;
  top: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.check:checked ~ .close-menu {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  background: rgba(0,0,0,.5);
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
/* SP > 共通partner */
.partner{
  margin-top: 25px;
  width: 100%;
}
.partner .partner1,
.partner .partner2{
/* text-align: center; */
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.partner .partner1 li a img,
.partner .partner2 li a img{
  width: 150px;
  height: 45px;
  margin-bottom: 15px;
}
/* SP > 共通pagetop */
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 8px;
  z-index: 100;
}
#pageTop > a {
  display: block;
  z-index: 999;
  text-decoration: none;
  text-align: center;
}
#pageTop > a > img {
  width: 35px;
  height: 35px;
  /* line-height: 70px; */
  border-radius: 50%;
}
#pageTop > a > span {
  position: absolute;
  color: white;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#pageTop a:hover {
  text-decoration: none;
}
/* SP > 共通footer */
footer {
  width: 100%;
  height: auto;
  position: absolute;
}
footer > p {
  color: rgb(223, 67, 61);
  margin-bottom: 5px;
  margin-top: 40px;
  text-align: center;
  font-size: 11px;
}
/* SP > indexhtml */
/* SP > indexhtml > mainvisual */
.sp_mainvisual {
  width: 100%;
  position: relative;
  height: 100%;
}
.sp_mainvisual > img {
  height: 100%;
  width: 100%;
}
.sp_mainvisual > h2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: rgb(223, 67, 61);
  font-size: 60px;
  /* font-weight: bolder; */
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  /* line-height: 1.5em; */
}

/* SP > indexhtml > swiper */
.swiper-container{
  width: 100%;
  height: 220px;
  margin-top: 30px;
}
.swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.swiper-slide{
  position: relative;
}

/* 体験 */
.swiper-slide1 a .swiper-mask1 div {
  width: 100%;
  position: absolute;
  font-size: 30px;
  color: white;
  background: rgba(223, 67, 61, 0.9);
  text-align: center;
  top: 0;
  left: 0;
}
.swiper-slide1 a .swiper-mask1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide1:hover .swiper-mask1 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 自販機 */
.swiper-slide2 a .swiper-mask2 div {
  width: 100%;
  position: absolute;
  font-size: 30px;
  color: rgb(223, 67, 61);
  text-align: center;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.swiper-slide2 .swiper-mask2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide2:hover .swiper-mask2 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* 選手募集 */
.swiper-slide3 a .swiper-mask3 div {
  width: 100%;
  position: absolute;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  bottom: 0;
  letter-spacing: 10px;
}
.swiper-slide3 .swiper-mask3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper-slide3:hover .swiper-mask3 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* SP > indexhtml > matches */
.matches {
  /* background-color: black; */
  color: rgb(223, 67, 61);
  /* height: 50vh; */
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: space-around; */
  margin-top: 50px;
}
.matches > h3 {
  font-size: 45px;
  margin-bottom: 30px;
}
.Wmatches {
  /* display: flex; */
  /* justify-content: space-around; */
  width: 100%;
  height: 50%;
}
.latest,
.next {
  border: 3px solid rgb(223, 67, 61);
  border-radius: 10px;
  height: 100%;
  width: 95%;
  height: 100%;
  margin: 20px auto;
}
.latest p,
.next p {
  font-size: 25px;
  background: rgb(223, 67, 61);
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 100%;
}
.latestlist,
.nextlist {
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.latestmain,
.nextmain {
  width: 100%;
}
.latestmain > table,
.nextmain > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.latestmain > table th,
.latestmain > table td,
.nextmain > table th,
.nextmain > table td {
  width: 30%;
  padding: 10px 0;
  text-align: center;
}
.latestmain > table th,
.nextmain > table th {
  font-size: 40px;
}
.latestmain > table td,
.nextmain > table td {
  font-size: 16px;
  font-weight: bold;
}
.latestmain tr .nextmain tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.latestmore,
.nextmore{
  margin-bottom: 10px;
}
.Wmatches a {
  color: rgb(223, 67, 61);
  text-decoration: none;
}

/* SP > indexhtml > ranking*/
.ranking {
  margin-top: 50px;
  position: relative;
  z-index: 0;
  background-color: rgb(223, 67, 61);
}
.ranking:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  /*四角形を傾ける*/
  transform: skewY(-5deg);
  transform-origin: bottom left;

  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(223, 67, 61);
}
.rank-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ranking h3 {
  font-size: 40px;
}
.rank-contents {
  display: flex;
  align-items: center;
}
.ranking .number {
  font-size: 45px;
  font-weight: bolder;
}
.ranking .place {
  font-size: 30px;
  font-weight: bolder;
}
.standings {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.standings a {
  color: #000;
}

/* SP > indexhtml > info */
.info {
  width: 100%;
  margin-top: 50px;
}
.info > .news {
  width: 100%;
}
.info > .sns {
  width: 100%;
  margin-top: 50px;
}
.info > .news > h3 {
  font-size: 45px;
  color: rgb(223, 67, 61);
  margin-bottom: 50px;
  text-align: center;
}
.ns-contents > li {
  border: 2px solid rgb(223, 67, 61);
  border-radius: 10px;
  margin-bottom: 10px;
}
.ns-contents > li > a {
  display: flex;
  text-decoration: none;
}
.ns-contents > li > a > img {
  width: 150px;
  height: 130px;
  border-radius: 10px;
}
.ns-contents > li > a > div > p {
  color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 16px;
}
.info > .news > .ns-more {
  text-align: center;
  margin-top: 30px;
}
.info > .news > .ns-more > a {
  color: rgb(223, 67, 61);
  text-decoration: none;
}
.sns .inst-mv .instagram-media {
  height: 480px;
}
.sns .fb-mv iframe{
  width: 100%;
  height: 600px;
}
.sns .inst-mv{
  min-width: 100%;
}

/* SP > newshtml */
.newshtml {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  color: rgb(223, 67, 61);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .newswrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .NEW,
.newshtml .sch {
  padding-bottom: 50px;
  font-size: 45px;
}
.newshtml .tra {
  font-size: 45px;
}
.newshtml .news-contents {
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.newshtml .news-contents li {
  width: 100%;
  border-bottom: 2px solid rgb(223, 67, 61);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.newshtml .news-contents li a {
  color: rgb(255, 255, 255);
  display: flex;
  text-decoration: none;
}
.newshtml .news-contents li a img {
  width: 150px;
  height: 130px;
  border-radius: 10px;
  margin: 0 10px;
}
.newshtml .news-contents li a .caption {
  padding: 0 10px;
}
.newshtml .news-contents li a .caption p:last-child{
  padding-top: 15px;
}
.schedulewrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
}
.schedulewrap table {
  width: 95%;
  border-collapse: collapse;
  border: 2px solid white;
  color: white;
  text-align: center;
}
.yearmonth th {
  font-size: 20px;
  padding: 15px;
}
.daysofweek th {
  font-size: 20px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}
.schedulewrap table tr td {
  width: 13%;
  padding: 10px 0 30px 0;
  border: 1px solid white;
}
.schedulewrap table tr .nonpadding {
  padding-bottom: 0;
  background-color: white;
  color: #000;
}
.trainingclolor {
  background-color: rgb(223, 67, 61);
}
.schedulewrap div {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
.schedulewrap div a {
  color: rgb(223, 67, 61);
  text-decoration: none;
  font-size: 22px;
  margin: 15px 0;
}
.schedulewrap div p {
  width: 90%;
}

/* SP > matcheshtml */

.matcheranking {
  width: 100%;
  height: 100%;
  color: rgb(223, 67, 61);
  margin-top: 30px;
}
.sp-allmatches2020,
.allmatches2020,
.all-standings {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* margin: 50px 0; */
}
.matcheranking h3 {
  /* padding: 50px 0; */
  margin: 50px 0;
  font-size: 45px;
}
.sp-allmatches2020 > table,
.allmatches2020 > table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 30px;
}

.sp-allmatches2020 > table th,
.allmatches2020 > table th{
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}
.sp-allmatches2020 > table td,
.allmatches2020 > table td {
  text-align: center;
  display: block;
}
.sp-allmatches2020 > table tr:nth-child(2n),
.allmatches2020 > table tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.15);
}
.all-standings > table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 30px;
  margin-bottom: 100px;
}
.all-standings > table th,
.all-standings > table td {
  padding: 10px 0;
  text-align: center;
}
.all-standings > table th {
  font-size: 20px;
}
.all-standings > table td {
  font-size: 17px;
}
.all-standings > table tr:first-child {
  background-color: rgba(223, 67, 61, 0.3);
}

/* PC > teamhtml */
.player_fix {
  background: url(./img/sp_team.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 4800px;
  background-attachment: fixed;
}
.player_wrap {
  position: absolute;
}
.player_wrap h3 {
  width: 100%;
  font-size: 45px;
  color: rgb(223, 67, 61);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 30px auto;
}
.player1 {
  width: 98%;
  margin: 0 auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}
.person {
  background-color: white;
  margin: 50px 0;
  display: flex;
  /* border: 4px solid white; */
}
.person .personimg {
  width: 65%;
  height: 280px;
  position: relative;
}
.player1 li img {
  width: 100%;
  height: 280px;
}
.person .personimg > div {
  width: 100%;
  height: 13%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background-color: rgb(0, 0, 0);
}
.person .personimg > div:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  /*四角形を傾ける*/
  transform: skewY(-5deg);
  transform-origin: bottom left;

  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.person .personimg > div p{
  color: rgb(223, 67, 61);
  font-weight: bolder;
}
.person .personimg > div p strong{
  font-size: 1em;
}
.profile {
  font-size: 14px;
  font-weight: bold;
  width: 35%;
  padding-top: 15px;
  text-align: center;
  color: rgb(223, 67, 61);
}
.profile p{
  margin-bottom: 3px;
}
.wanted {
  width: 95%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* text-align: center; */
  text-align: justify;
  background-color: white;
  color: rgb(223, 67, 61);
  font-weight: bolder;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 100px;
}
.wanted h4 {
  font-size: 35px;
}
.wanted p {
  font-size: 17px;
  line-height: 1.5em;
}
.wanted .wanted-p-first {
  margin-top: 15px;
}
.wanted .wanted-p-last {
  margin-bottom: 15px;
}
.wanted a {
  margin-top: 10px;
  color: rgb(223, 67, 61);
  text-decoration: none;
  /* transition: all 0.6s ease 0s; */
}
.wanted .wantedmap {
  margin-bottom: 10px;
}

/* SP clubhtml */
.club-fx {
  background: url(./img/sp_club.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 2500px;
  background-attachment: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.club-bg {
  background-color: rgba(255, 255, 255, 0.3);
  /* width: 98%; */
  height: 3500px;
}
.club-bg h3 {
  width: 100%;
  font-size: 38px;
  color: rgb(223, 67, 61);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 50px auto 30px auto;
}
.club-erythrina-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club-erythrina img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.club-erythrina p {
  /* width: 85%; */
  margin-top: 30px;
  color: rgb(223, 67, 61);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  text-align: justify;
}
.emblem-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emblem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.emblem-text p {
  /* width: 85%; */
  margin-top: 30px;
  color: rgb(223, 67, 61);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  text-align: justify;
}
.club-history-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.club-history-text tr {
  height: 50px;
}
.club-history-text td {
  display: block;
}
.club-history table {
  /* width: 85%; */
  margin-top: 30px;
  color: rgb(223, 67, 61);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
.about-beachsocor-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-beachsocor p {
  /* width: 85%; */
  margin-top: 30px;
  color: rgb(223, 67, 61);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  text-align: justify;
}

/* SP > partnerhtml */
.partner_wrap {
  color: rgb(223, 67, 61);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  text-align: center;
  /* display: flex; */
  /* flex-flow: column; */
  /* align-items: center; */
}
.partner_wrap > h3 {
  font-size: 45px;
  margin-bottom: 50px;
}
/* .partner_wrap > .partners {
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
} */
.partner_wrap > .partners > .partner-list {
  width: 100%;
  /* height: 500px; */
  margin-bottom: 50px;
  border-bottom: 3px solid;
}
.partner_wrap > .partners > .partner-list a {
  text-decoration: none;
  color: rgb(223, 67, 61);
  font-size: 1.3em;
}
.partner_wrap > .partners > .partner-list a img {
  width: 300px;
  height: 120px;
}
.partner_wrap > .partners > .partner-list .partnerfile {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* align-content: space-around; */
  /* text-align: center; */
  width: 100%;
  margin: 50px auto;
}
.partner_wrap > .partners > .partner-list .partnerfile a {
  margin: 8px auto;
  /* text-align: center; */
}
.partner_wrap > .partners > .partner-list .partnerfile p {
  width: 90%;
  text-align: justify;
  margin: 8px auto;
}
.partner_wrap > .partners > .partner-list .partnerfile div {
  text-align: center;
}
.withpartner {
  margin: 100px auto;
  padding: 10px 0;
  width: 95%;
  border: 3px solid;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.withpartner h4 {
  font-size: 20px;
}
.withpartner p {
  margin: 10px auto;
  width: 90%;
  text-align: justify;
}
.withpartner a {
  color: rgb(223, 67, 61);
  text-decoration: none;
  /* transition: all 0.6s ease 0s; */
}
/* .withpartner a:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
} */

/* SP > beachhtml */
.beach_fix {
  background: url(./img/sp_tropicalbeach.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgb(223, 67, 61);
  width: 100%;
  height: 1250px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.practiceplace {
  /* width: 80%; */
  min-height: 1200px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
}
.practiceplace > h3 {
  width: 100%;
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 60px;
}
.practiceplace > h4 {
  width:80%;
  font-size: 23px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 40px;
}
.practiceplace .tropicalbeach {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}
.practiceplace p {
  text-align: justify;
  /* margin: 5px; */
  padding: 15px;
}
.beach_fix a {
  text-decoration: none;
  color: rgb(223, 67, 61);
  margin-bottom: 10px;
}
.practiceplace iframe {
  width: 98%;
  height: 98%;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 40px auto;
}
.coution {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: justify;
}
.coution p a strong {
  font-size: 15px;
}

/* SP > makinghtml */
.making-bg img {
  width: 100%;
  height: 50vh;
}
.making-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.making-text {
  top: 35%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  position: absolute;
}
.making-text p {
  font-size: 45px;
  font-family: 'Graduate', cursive;
  font-weight: bolder;
  color: rgb(223, 67, 61);
  margin-bottom: 50px;
}
.making-text div a {
  color: rgb(223, 67, 61);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

}






/* 🍔 */
/* header > input[type="checkbox"] {
  position: absolute;
  top: -50vw;
  right: 0;
}
.open,
.close {
  display: block;
}
.open {
  position: absolute;
}
header ul  {
  position: absolute;
  left: -250px;
  height: 100%;
  transition: all 0.2s;
  background: #ffffff;
}
input[type="checkbox"]:checked ~ ul {
  left: 0;
}
input[type="checkbox"]:checked ~ .back {
  position: absolute;
  width: 100%;
  height: 100%;
} */
/* 🍔 */


